/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: contain;
    background-color: #f9f9f9;
    color: #963838;
    line-height: 1.6;
     
}

.logo-container {
    text-decoration: none;
  }
header {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    background-color: #333;

    color: #fff;
     text-align: center;   
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


ul li a:hover {
    color: #7db459;
} 

 
 
.logo a h1:hover {
    color: #447325; 
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
footer table tbody tr .Address {
    width: 540px;
    text-align: left;
}
footer table tbody tr .Description {
    width: 560px;
    text-align: left;
    font-style: italic;
}
footer table tbody tr .hours {
    width: 400px;
    text-align: left;
}
footer table tbody tr .Address  .green {
   color: rgb(43, 96, 112);
}

header table tr .logo {
    width: 300px;
    text-align: left;
}
header table tr .logo img {
    width: 120px;
    float: left;
    border-radius: 50px;
}

header table tr .logo .title2 {
    text-align: center;
    margin-top: 30px;
     color: #fff;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     margin-top: 12px;
  
  }

header table tr .menu {
    width: 800px;
    text-align: center;
}
 

h1.h1 {
    text-align: center;
    margin-bottom: 20px;
}
 
 
img {
    display: block;
    margin: 0 auto;
}
main table tr td   {
    width: 10000px;
}
main table tr td  img {
    float: left;   
    border-radius: 20%;
    
}

h1.h1 {
    text-align: center;
    margin-bottom: 20px;
}

 

td {
    padding: 20px;
    vertical-align: top;
}

img {
    display: block;
     margin: 10px;
}

p {
    text-align: justify;
    margin-top: 10px;
    font-size: 16px;
}

h2, h4 {
    text-align: center;
    margin-top: 10px;
}

h4 {
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

footer .para{
    text-align: center;
}