/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-text {
    color:whitesmoke;  
    text-decoration: none;
    border-bottom:none;
    margin-top: 16px;
  }
.logo-container {
    text-decoration: none;
  }
body {
    background-size: contain;
    background-color: #e1e1e1;
    color: #333;
    line-height: 1.6;
}

header {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
     
    
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.tile {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    flex-basis: calc(33.333% - 2rem);
    background-color: #5c704b;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.tiles {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: -1rem;
    margin-right: -1rem; /* Adjusted for the negative margins */
}

.tile img {
    display: block;
    border-radius: 0.5rem;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    height: 250px;
    width: 300px;
}

ul li a:hover {
    color: #7db459;
} 

 
.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo a h1:hover {
    color: #447325; 
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
footer table tbody tr .Address {
    width: 540px;
    text-align: left;
}
footer table tbody tr .Description {
    width: 560px;
    text-align: left;
    font-style: italic;
}
footer table tbody tr .hours {
    width: 400px;
    text-align: left;
}
footer table tbody tr .Address  .green {
   color: rgb(43, 96, 112);
}

header table tr .logo {
    width: 300px;
 }
header table tr .logo img {
    width: 120px;
    float: left;
    border-radius: 50px;
}

header table tr .logo .title2 {
    text-align: center;
    margin-top: 12px;
    color: #fff;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  
  }

header table tr .menu {
    width: 800px;
    text-align: center;
}
 
menu .h1 {
    color:white;
}
/* #map-tile {
    background-image: url("css/map.jpeg")  ; 

} */